.container {
	position: fixed;
}

.logo {
	position: absolute;
	left: 80px;
	top: 14px;
}

.buttonGroup {
	position: absolute;
	right: 222px;
	top: 10px;
}

.button {
	margin-right: 12px;
	&:last-child {
		margin-right: 0px;
	}
}

.linkList {
	position: absolute;
	left: 273px;
	top: 21px;
}

.linkText {
	margin-right: 20px;
	&:last-child {
		margin-right: 0;
	}
}
